{% extends "base_template.html.j2" %}
{% block content %}

<h1>第三方包</h1>
<p>Typst <a href="/docs/reference/scripting/#packages">packages</a> 封装了可复用的构建块，使得它们可跨项目复用。
以下是社区创建的 Typst 包列表。由于 Typst 包管理的早期和实验性质，它们都位于 <code>preview</code> 命名空间中。
单击包的名称即可查看对应文档（英文），点击右侧的复制按钮可以复制完整的导入语句。</p>
<div class="search"><img src="/assets/icons/16-search-gray.svg" alt="Search" width="16" height="16"><input
    type="search" id="package-search" placeholder="在 packages 中搜索"></div>
<div class="show-all"><input id="package-show-all-versions" type="checkbox"><label
    for="package-show-all-versions">显示所有版本</label></div>
<table class="package-list">
  <thead>
    <tr>
      <th>名称</th>
      <th>描述</th>
      <th>版本</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

{% endblock %}