{% macro types_sidebar_display() %}
            <li>
              <a href="/docs/reference/types/" >类型（旧）</a>
              
              <button><img alt="Expand" src="/assets/icons/16-arrow-right.svg" width="16" height="16"></button>
              <ul>
                
                
                <li><a href="/docs/reference/types/none/" >None</a></li>
                
                
                <li><a href="/docs/reference/types/auto/" >Auto</a></li>
                
                
                <li><a href="/docs/reference/types/boolean/" >Boolean</a></li>
                
                
                <li><a href="/docs/reference/types/integer/" >Integer</a></li>
                
                
                <li><a href="/docs/reference/types/float/" >Float</a></li>
                
                
                <li><a href="/docs/reference/types/length/" >Length</a></li>
                
                
                <li><a href="/docs/reference/types/angle/" >Angle</a></li>
                
                
                <li><a href="/docs/reference/types/ratio/" >Ratio</a></li>
                
                
                <li><a href="/docs/reference/types/relative-length/" >Relative Length</a></li>
                
                
                <li><a href="/docs/reference/types/fraction/" >Fraction</a></li>
                
                
                <li><a href="/docs/reference/types/color/" >Color</a></li>
                
                
                <li><a href="/docs/reference/types/datetime/" >Datetime</a></li>
                
                
                <li><a href="/docs/reference/types/symbol/" >Symbol</a></li>
                
                
                <li><a href="/docs/reference/types/string/" >String</a></li>
                
                
                <li><a href="/docs/reference/types/content/" >Content</a></li>
                
                
                <li><a href="/docs/reference/types/array/" >Array</a></li>
                
                
                <li><a href="/docs/reference/types/dictionary/" >Dictionary</a></li>
                
                
                <li><a href="/docs/reference/types/function/" >Function</a></li>
                
                
                <li><a href="/docs/reference/types/arguments/" >Arguments</a></li>
                
                
                <li><a href="/docs/reference/types/selector/" >Selector</a></li>
                
                
                <li><a href="/docs/reference/types/module/" >Module</a></li>
                
              </ul>
              
            </li>
{% endmacro %}